<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeshimin.yeahboot.data.mapper.SysUserMapper">

    <!-- 查询用户列表 -->
    <select id="query" resultType="com.yeshimin.yeahboot.data.domain.entity.SysUserEntity">
        select u.*
        from sys_user u
        where u.deleted = 0
        <if test="query.username != null and query.username != ''">
            and u.username like concat('%', #{query.username}, '%')
        </if>
        <if test="query.mobile != null and query.mobile != ''">
            and u.mobile like concat('%', #{query.mobile}, '%')
        </if>
        <if test="query.status != null and query.status != ''">
            and u.status = #{query.status}
        </if>
        <if test="query.createDateBegin != null">
            and u.create_time >= #{query.createDateBegin}
        </if>
        <if test="query.createDateEnd != null">
            and #{query.createDateEnd} >= u.create_time
        </if>
        <if test="query.orgIds != null and query.orgIds.size > 0">
            and exists (select 1 from sys_user_org uo where uo.deleted = 0 and uo.user_id = u.id and uo.org_id in
            <foreach collection="query.orgIds" item="item" open="(" close=")" separator=", ">
                #{item}
            </foreach>
            )
        </if>
    </select>

</mapper>