server:
  port: 8081

spring:
  application:
    name: yeah-app
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yeah_boot?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&useUnicode=true&zeroDateTimeBehavior=CONVERT_TO_NULL&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&allowMultiQueries=false&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true&useAffectedRows=false
    username: root
    password: 123456

# dataSource decorator by p6spy
# https://baomidou.com/guides/p6spy/
# https://github.com/gavlyukovskiy/spring-boot-data-source-decorator
decorator:
  datasource:
    p6spy:
      # Register P6LogFactory to log JDBC events
      enable-logging: true
      # Custom log format, if specified com.p6spy.engine.spy.appender.CustomLineFormat will be used with this log format
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#customlogmessageformat
      log-format: "id: %(connectionId) | t: %(currentTime) | d: %(executionTime)ms | c: %(category) | sql: \n\t%(sqlSingleLine)"
      # Exclude certain categories from logging. If specified only matched messages will be logged.
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#excludecategories
      exclude-categories: "info,debug,result,resultset,commit,rollback"

# auth相关
auth:
  token:
    # 全局jwt配置（subject中可覆盖）
    jwt:
      # 签发密钥
      secret: Dooleiw4hah0yae2Aquah5ahgaix4noJ
      # 过期时间（秒）
      expire-seconds: 36000
      # 时间校验偏差（秒）
      default-leeway: 60
    subjects:
      - name: user
        jwt:
          # 签发密钥
          secret: mi8thaeTahphuatimae9xieghei2iboe
          # 过期时间（秒）
          expire-seconds: 36000
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: app
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 1
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: -1
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1

yeah:
  # 是否开启验证码校验
  captcha-enabled: false