server:
  port: 8080

spring:
  application:
    name: yeah-admin
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    schema: yeah_mall
    url: jdbc:mysql://${spring.datasource.host}:3306/${spring.datasource.schema}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&useUnicode=true&zeroDateTimeBehavior=CONVERT_TO_NULL&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&allowMultiQueries=false&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true&useAffectedRows=false
    username: root
    password: 123456
  # redis
  redis:
    host: localhost
    port: 6379
    password: ""
    database: 1
    timeout: 10000

# for actuator, health endpoint
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

# 接口文档相关
springdoc:
  swagger-ui:
    path: /doc.html

# dataSource decorator by p6spy
# https://baomidou.com/guides/p6spy/
# https://github.com/gavlyukovskiy/spring-boot-data-source-decorator
decorator:
  datasource:
    p6spy:
      # Register P6LogFactory to log JDBC events
      enable-logging: true
      # Custom log format, if specified com.p6spy.engine.spy.appender.CustomLineFormat will be used with this log format
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#customlogmessageformat
      log-format: "id: %(connectionId) | t: %(currentTime) | d: %(executionTime)ms | c: %(category) | sql: \n\t%(sqlSingleLine)"
      # Exclude certain categories from logging. If specified only matched messages will be logged.
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#excludecategories
      exclude-categories: "info,debug,result,resultset,commit,rollback"

# mybatis-plus相关
mybatis-plus:
  global-config:
    db-config:
      # 实体查询时，字段为非空串才设置查询条件
      select-strategy: not_empty

# auth相关
auth:
  token:
    # 全局jwt配置（subject中可覆盖）
    jwt:
      # 签发密钥
      secret: shof4PhaiThooW9Eej9aechailahmois
      # 过期时间（秒）
      expire-seconds: 3600
      # 时间校验偏差（秒）
      default-leeway: 60
    subjects:
      - name: admin
        api-prefix: '/admin,/basic,/auth'
        jwt:
          # 签发密钥
          secret: on3hoonguBi7cahdohv4iu0wiaqueiro
          # 过期时间（秒）
          expire-seconds: 3600
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: web
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 1
          - name: api
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: -1
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: 10
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1
      - name: app
        api-prefix: '/app,/auth'
        jwt:
          # 签发密钥
          secret: ierohgh2ohl8paiXoi8kah0uhohsiewu
          # 过期时间（秒）
          expire-seconds: 3600
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: app
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 1
          - name: api
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: -1
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: 10
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1
      - name: mch
        api-prefix: /mch
        jwt:
          # 签发密钥
          secret: uu5aeshaili2aetheeTiuf8zeiVaegub
          # 过期时间（秒）
          expire-seconds: 3600
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: web
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 5
          - name: api
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 5
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: 10
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1

# ManticoreSearch
manticore-search:
  base-path: http://localhost:9308

yeah-boot:
  # 是否开启验证码校验
  captcha-enabled: false
  # 是否为安全模式（场景：跳过@PreAuthorize @pms.hasPermission权限校验，方便权限配置或其他场景；一般为false，不需要动）
  safe-mode: false
  sms-code-length: 6
  # 短信验证码过期时间（秒）
  sms-code-exp-seconds: 300
  # ID编号生成器
  id-generator:
    alphabet: GQT0FNR3taz1vDVEjsSJ2biZmLB8qk6OCMndohlKf4IAw7xr9eYgXWPcuHpU5y
    min-length: 8
  # 代码生成器
  code-generator:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
    author: yeshimin
    pack: com.yeshimin.yeahboot
    module: data
    table-prefix:
      - t_
      - s_
    base-entity-fields:
      - id
      - deleteTime
      - deleted
      - createTime
      - createBy
      - updateTime
      - updateBy
  # 文件/存储
  storage:
    enabled: true
    impl:
      # 本地文件系统存储相关配置
      local:
        enabled: true
        priority: 1
        public-bucket: public
        bucket: yeahboot
        base-path: /Users/yeshimin/Desktop/YsmSpace/upload/yeah-boot
      # 七牛云存储相关配置
      qiniu:
        enabled: false
        priority: 1
        public-bucket: yeahbootpublic
        public-domain: OVERWRITE_ME
        access-key: OVERWRITE_ME
        secret-key: OVERWRITE_ME
        bucket: OVERWRITE_ME
        domain: OVERWRITE_ME
      # minio存储相关配置
      minio:
        enabled: false
        priority: 1
        public-bucket: yeahbootpublic
        endpoint: OVERWRITE_ME
        bucket: OVERWRITE_ME
        access-key: OVERWRITE_ME
        secret-key: OVERWRITE_ME
    biz:
      # 文件管理
      file:
        bucket: filemanage
        path: default
      # Banner
      banner:
        bucket: banner
        path: ''
      # product
      product:
        bucket: product
        path: ''
      # avatar
      avatar:
          bucket: avatar
          path: ''
  # 通知相关
  notification:
    aliyun:
      sms:
        access-key-id: OVERWRITE_ME
        access-key-secret: OVERWRITE_ME
        template-code: OVERWRITE_ME
        sign-name: OVERWRITE_ME
  # 支付相关
  payment:
    wxpay:
      # appid
      app-id: OVERWRITE_ME
      # 商户ID
      mch-id: OVERWRITE_ME
      # 证书序列号
      certificate-serial-no: OVERWRITE_ME
      # 商户私钥-原始文本
      private-key-raw: OVERWRITE_ME
      # 商户私钥-文件路径（优先级高于raw）
      private-key-path: OVERWRITE_ME
        # 微信支付公钥ID
      wechat-pay-public-key-id: OVERWRITE_ME
        # 微信支付公钥-原始文本
      wechat-pay-public-key-raw: OVERWRITE_ME
      # 微信支付公钥-文件路径（优先级高于raw）
      wechat-pay-public-key-path: OVERWRITE_ME
      # 商户APIv3密钥
      api-v3-key: OVERWRITE_ME
      api:
        host: https://api.mch.weixin.qq.com
        method: POST
        prepay-url: /v3/pay/transactions/jsapi
        notify-url: OVERWRITE_ME
  # 物流相关-快递100
  delivery:
    kuaidi100:
      key: OVERWRITE_ME
      customer: OVERWRITE_ME
      secret: OVERWRITE_ME
      user-id: OVERWRITE_ME
    juhe-api:
      key: OVERWRITE_ME
      query-exp-url: http://v.juhe.cn/exp/index
      query-com-url: http://v.juhe.cn/exp/com
  # 买家端-收货地址最大数量
  member-address-max-count: 20