server:
  port: 8080

spring:
  application:
    name: yeah-admin
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    url: jdbc:mysql://${spring.datasource.host}:3306/yeah_boot?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8&useUnicode=true&zeroDateTimeBehavior=CONVERT_TO_NULL&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&allowMultiQueries=false&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true&useAffectedRows=false
    username: root
    password: 123456
  # redis
  redis:
    host: localhost
    port: 6379
    password: ""
    database: 1
    timeout: 10000

# dataSource decorator by p6spy
# https://baomidou.com/guides/p6spy/
# https://github.com/gavlyukovskiy/spring-boot-data-source-decorator
decorator:
  datasource:
    p6spy:
      # Register P6LogFactory to log JDBC events
      enable-logging: true
      # Custom log format, if specified com.p6spy.engine.spy.appender.CustomLineFormat will be used with this log format
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#customlogmessageformat
      log-format: "id: %(connectionId) | t: %(currentTime) | d: %(executionTime)ms | c: %(category) | sql: \n\t%(sqlSingleLine)"
      # Exclude certain categories from logging. If specified only matched messages will be logged.
      # see https://p6spy.readthedocs.io/en/latest/configandusage.html#excludecategories
      exclude-categories: "info,debug,result,resultset,commit,rollback"

# auth相关
auth:
  token:
    # 全局jwt配置（subject中可覆盖）
    jwt:
      # 签发密钥
      secret: xeePu3xo3uoyo5Quooquai0ut1ha7aih
      # 过期时间（秒）
      expire-seconds: 36000
      # 时间校验偏差（秒）
      default-leeway: 60
    subjects:
      - name: admin
        api-prefix: '/admin'
        jwt:
          # 签发密钥
          secret: wee8Deonee4egh5taif8noim8pee1aiJ
          # 过期时间（秒）
          expire-seconds: 36000
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: web
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 2
          - name: api
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 2
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: 3
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1
      - name: app
        api-prefix: /app
        jwt:
          # 签发密钥
          secret: caiQueipae5Phaeph7gaethae5ash6bu
          # 过期时间（秒）
          expire-seconds: 36000
          # 时间校验偏差（秒）
          default-leeway: 60
        terminals:
          - name: app
            # 同一个账号在该终端的最大在线token数量（默认-1，表示不限制）（不可超过总的最大在线token数量）
            max-online-token-count: 1
        # 同一个账号的最大在线token数量（默认-1，表示不限制）
        max-online-token-count: -1
        # 同一个账号的最大在线终端数量（默认-1，表示不限制）
        max-online-terminal-count: -1

yeah-boot:
  # 是否开启验证码校验
  captcha-enabled: false
  # 是否为安全模式（场景：跳过@PreAuthorize @pms.hasPermission权限校验，方便权限配置或其他场景；一般为false，不需要动）
  safe-mode: false
  # 代码生成器
  code-generator:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
    author: yeshimin
    pack: com.yeshimin.yeahboot
    module: admin
    table-prefix:
      - t_
      - s_
    base-entity-fields:
      - id
      - deleteTime
      - deleted
      - createTime
      - createBy
      - updateTime
      - updateBy
